<div id='content-footer' class='container'>
	<div id='left'>
        <div class='item'>(m) : 908-242-4775</div>
        <div class='item'>(p) : 908-688-2709</div>
        <div class='item'>(e) : <a href="mailto:dave@davecollierconsulting.com">
dave@davecollierconsulting.com</a></div>
    </div>
    <div id='right'>
        <br/>
        <div class='item'>Site built with JavaScript, HTML5 and CSS3</div>
        <div class='item'>© 2013 Dave Collier Consulting, LLC - All Rights Reserved</div>
    </div>
</div>