<div id="home_banner" class='banner'></div>
<article>
	<div class="container">
		<div class="underline">
			<h1><strong>Dreams</strong>... Coded. <strong>Visions</strong>... Realized</h1>
	    </div>
	    <p>Dave Collier Consulting was founded in 2011 by its Owner and CTO Dave Collier.  Dave comes from a long line of big media and engineering experience; formally of Clear Channel Communications, Rockstar Games, National Basketball Association, and MTV.  He went out on his own and founded the company in an effort to get away from the typical office job as well as the typical media delivery engineering nichè.<br /><br />The company's focus has mainly been in the mobile application space with a focus in the health and medical industry.  We've been working closely with clients such as Wolters Kluwer and HealthiNation, while still facilitating our big data and media clients such as Verizon and Guavus.<br />
	<div class="halfColumnLeft">
		<div class="underline">
		<h2><strong>Dreams...</strong></h2>
	</div>
    <p>How would you like your dreams coded?</p>
    <div class='half_content_wrapper'>
	<ul>
		<li>JavaScript <small>(Backbone, Require, etc)</small></li>
		<li>HTML5 / CSS3 <small>(Responsive Design, Media Queries, etc)</small></li>
		<li>PHP <small>(CakePHP, CodeIgniter)</small></li>
		<li>Analytics <small>(Google, Omniture, Custom)</small></li>
		<li>Back End Development</li>
		<li>Advertising Integration <small>(VAST, VPAID, Google, etc)</small></li>
	</ul>
	</div>
	<div class="more">
		<a href="#/dreams"><span class="underscore">&nbsp;</span>more<span class="underscore">&nbsp;</span>dreams</a>
	</div>
	</div>
	<div class="halfColumnRight">
	<div class="underline"><h2><strong>Visions...</strong></h2></div>
    	<p>Check out some dreams turned into visions</p>
    	<div class='half_content_wrapper'>
	        <ul class="thumbnails">
				<li>
					<div class="thumb">
						<img src="imgs/visions/wolters_kluwer.png"/>
					</div>
		            <div class="description">
		                <strong>Wolters Kluwer</strong> developed a custom store front for a suite of iPad applications.
		            </div>
	            </li>
	            <li>
	            	<div class="thumb">
	                	<img src="imgs/healthi_nation_logo.png"/>
	                </div>
	                <div class="description">
	                	<strong>HealthiNation</strong> video, advertising and analytics integration.
	                </div>
	             </li>
	             <li>
	            	<div class="thumb">
	                	<img src="imgs/guavus_logo.png"/>
	                </div>
	                <div class="description">
	                	<strong>Guavus</strong> content management, design, iOS.
	                </div>
	             </li>
	        </ul>
	    </div>
	<div class="more">
		<a href="#/visions"><span class="underscore">&nbsp;</span>more<span class="underscore">&nbsp;</span>visions</a>
	</div>
</div>
</div>
<div class="clearfix">&nbsp;</div>
</article>