<div id="visions_banner" class='banner'></div>
<article>
	<div class="container">
		<div class="underline">
			<h1><strong>Dreams</strong>... What Dreams Become...</h1>
	    </div>
	    <div id="visions_container" class="container">
			<div id="item_0" class="vision_item">
				<div id='item_img_container'>
					<img src="../imgs/visions/logos/wolters-kluwer.png" width="176" height="50" style="margin-top:37px" />
				</div>
				<div class='description'>
					<p style="margin-top:-3px">As a UI/UX Developer working as part of a medical research team, Dave is developing a custom store front for a suite of iPad applications. The platform runs off HTML5, JavaScript and Adobe Digital Publishing Suite.<br/><br/>JavaScript Frameworks - Backbone, Require, jQuery/UI</p>
				</div>
			</div>
			<div id="item_1" class="vision_item">
				<div id='item_img_container'>
					<img src="../imgs/visions/logos/guavus.png" width="173" height="41" style="margin-top:45px"/>
				</div>
				<div class='description'>
					<p style="margin-top:-3px">Developed a content management system along with a front end that allows Guavus to market their products. Administrators can create access keys for clients, custom privileges and TTL.<br/><br/>Technologies used – CakePHP, HTML, CSS, JavaScript (Backbone, jQuery, jQueryUI)</p>
				</div>
			</div>
			<div id="item_2" class="vision_item">
				<div id='item_img_container'>
					<img src="../imgs/visions/logos/healthi-nation.png" width="173" height="67" style="margin-top:25px" />
				</div>
				<div class='description'>
					<p style="margin-top:-3px">Acted as a Senior Web Developer for HealthiNation on a moonlighting/freelance basis for the good portion of 2012. Dave was responsible for maintaining, upgrading, adding features and deploying the video ad units.<br/><br/>Technologies used - JavaScript (jQuery, Brightcove Smart Player API), PHP</p>
				</div>
			</div>
			<div id="item_3" class="vision_item">
				<div id='item_img_container'>
					<img src="../imgs/visions/logos/verizon.png" width="148" height="82" style="margin-top:20px" />
				</div>
				<div class='description'>
					<p style="margin-top:7px">Designed and architected an analytics dashboard giving Verizon (end client) insight into CDN and network activity using existing Guavus platform. <br/><br/>Technologies used - Flex, Java, Web Services</p>
				</div>
			</div>
			<div id="item_4" class="vision_item">
				<div id='item_img_container'>
					<img src="../imgs/visions/logos/toshiba.png" width="169" height="45" style="margin-top:40px" />
				</div>
				<div class='description'><p style="margin-top:-3px;">Developed a small content management system that allowed administrators to set plots on a map using Bing Maps (API), as well as upload media and information for each location. Front end using Bing Maps to show and drill downl into location information and media.<br/><br/>Technologies used - CakePHP, HTML, CSS, JavaScript, Bing Maps API.</p></div>
			</div>
		</div>
	</div>
</article>
<div class="clearfix">&nbsp;</div>