<div id="dreams_banner" class='banner'></div>
<article>
	<div class="container">
		<div class="underline">
			<h1><strong>Dreams</strong>... Turn into visions...</h1>
	    </div>
		    <p>Dave’s main focus and the vision of the company are on front end mobile application development.   
		We believe that mobile and tablet applications are not the future, it’s now.  We are currently making 
		iPad dreams into visions for companies such as Wolters Kluwer and have ensured companies are staying 
		up to date with analytics and delivery such as healthiNation.<br /><br /> As of January, 2013 we cannot facilitate any full time contracting inquiries.  If you are interested in contacting us regarding future contracting work please visit the contact page.<br /><br />Freelance and moonlighting opportunities are welcome while we continue to provide our clients with our 
		full dedication and support.</p>
		<div class="halfColumnLeft">
			<div class="underline">
				<h2><strong>Type of services...</strong></h2>
			</div>
		    <p>We specialize in the following services</p>
		    <div class='half_content_wrapper'>
				<ul>
					<li>Mobile / Tablet Development <small>(iOS)</small></li>
					<li>Desktop  <small>(Front End)</small></li>
					<li>Application Development </li>
					<li>Analytics Integration</li>
					<li>Adobe Digital Publishing Integration</li>
					<li>Technical Writing</li>
				</ul>
			</div>
			<div class="more">
				<a href="#/visions"><span class="underscore">&nbsp;</span>more<span class="underscore">&nbsp;</span>services</a>
			</div>
		</div>
		<div class="halfColumnRight">
			<div class="underline"><h2><strong>Languages and Frameworks...</strong></h2></div>
		    	<p>We specialize in the following languages</p>
		    	<div class='half_content_wrapper'>
			       	<ul>
						<li>JavaScript<small>(Backbone, Require, jQuery (ui), Popcorn)</small></li>
						<li>PHP<small>(Cake, CodeIgniter, MVC)</small></li>
						<li>ActionScript <small>(OSMF/Video, Parsely, Google IMA)</small></li>
						<li>HTML5/CSS3</li>
					</ul>
			    </div>
				<div class="more">
					<a href="#/visions"><span class="underscore">&nbsp;</span>more<span class="underscore">&nbsp;</span>code</a>
				</div>
			</div>
		</div>
	</div>
</article>
<div class="clearfix">&nbsp;</div>