
body, #page {
	/*background: #hex;*/
}

#logo { 
  background:url(../images/logo.png) center center no-repeat;
}

#header{ 
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebeded));
}

#menu {
  background-color: #005d83; 
}

#menu ul li.first {
  background-color: #337d9c;
}

#optional_image { 
  background-image:url(../images/imagery.png);
}

#footer_container {
  /*background-color: #hex;*/
}

#buy_issue_button{ 
  /*background: -webkit-linear-gradient(top,#hex,#hex 50%, #hex 50%,#hex);*/
  /*border: 1px solid #hex;*/
}

#section_title_header_container{ 
  /*background:-webkit-linear-gradient(top, #hex 0px, #hex 7%, #hex 93%, #hex 100%);*/
  /*border-top: 1px solid #hex;*/
  /*border-bottom: 1px solid #hex;*/
}

#back_btn{ 
   background-image: url('../images/back_button_med_grey.png');
  /*background-image: url('../images/image file');*/
  /*Default is back_button_light_grey.png. Choose from back_button_white.png, back_button_light_grey.png, back_button_med_grey.png, back_button_dark_grey.png */
}

#menu ul li.first {
  background-color: #337d9c;
  border-radius:14px;
  box-shadow:  inset 0 0 5px rgba(0, 0, 0, 0.2);
  border:1px solid rgba(0, 0, 0, 0.25);
  height:28px;
  margin-top:7px;
  line-height:29px;
  width: 150px;
}

#view_preloader_container{
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -12px; /* negative half of the width */
  margin-top: -12px; /* negative half of the height */
}